.text {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Big Shoulders";
  line-height: 1.3em;
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .text {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
  }
}
