.container {
  border: 1px solid var(--grey3);
  height: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  border-radius: 5px;
}

.pictureSection {
  height: 250px;
  flex-basis: 250px;
}

.pictureSection > img,
.pictureSection > div {
  width: 100%;
  height: 100%;
  background-color: var(--grey2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  font-family: "Cairo";
  font-size: 24px;
  color: var(--black2);
  font-weight: 700;
  font-style: italic;
}

.textSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textSection > p:nth-child(1) {
  padding: 10px 15px;
  font-size: 1rem;
  font-family: "Rakkas";
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 2;
}

.textSection > p:nth-child(2) {
  padding: 10px 15px;
  border-top: 1px solid #e3edeb;
  border-bottom: 1px solid #e3edeb;
  background-color: #f1f5f4;
  font-size: 0.9rem;
  font-style: italic;
  color: var(--black2);
  font-family: "Cairo";
  flex: 1;
}

@media screen and (max-width: 767px) {
  .container {
    border: 1px solid var(--grey3);
    min-height: 250px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    border-radius: 5px;
  }

  .pictureSection {
    height: 229px;
    flex-basis: 229px;
  }

  .pictureSection > img {
    width: 100%;
    height: 100%;
  }

  .textSection > p:nth-child(1) {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: "Rakkas";
    font-weight: 400;
    font-size: 1rem;
  }

  .textSection > p:nth-child(2) {
    padding: 10px 15px;
    border-top: 1px solid #e3edeb;
    border-bottom: 1px solid #e3edeb;
    background-color: #f1f5f4;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--black2);
    font-family: "Cairo";
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    border: 1px solid var(--grey3);
    min-height: 250px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    border-radius: 5px;
  }

  .pictureSection {
    height: 229px;
    flex-basis: 229px;
  }

  .pictureSection > img {
    width: 100%;
    height: 100%;
  }

  .textSection > p:nth-child(1) {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: "Rakkas";
    font-weight: 400;
    font-size: 1rem;
  }

  .textSection > p:nth-child(2) {
    padding: 10px 15px;
    border-top: 1px solid #e3edeb;
    border-bottom: 1px solid #e3edeb;
    background-color: #f1f5f4;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--black2);
    font-family: "Cairo";
  }
}
