.container {
  font-family: "Rakkas";
  position: relative;
}

.container > div:nth-child(1) {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  transition: all 0.2s ease-in-out;
}

.container > nav:nth-child(2) {
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--offWhite);
  gap: 3rem;
  border-block: 2px solid var(--grey);
  position: sticky;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.container > nav:nth-child(2) > a,
.container > nav:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
}

.subnavItems {
  position: absolute;
  left: 0;
  top: 105%;
  z-index: 5;
  width: 250px;
  background-color: var(--white);
  padding-block: 16px;
  padding-inline: 16px;
  border-top: 2px solid var(--red);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}

.container > nav:nth-child(2) > div > svg,
.container > nav:nth-child(2) > div,
.container > nav:nth-child(2) > div > span,
.subnavItems > a {
  transition: all 0.2s ease-in-out;
}

.container > nav:nth-child(2) > div:hover > span,
.container > nav:nth-child(2) > a:hover,
.subnavItems > a:hover {
  color: var(--red);
}

.container > nav:nth-child(2) > div:hover > .subnavItems {
  display: block;
  color: var(--black);
}

.container > nav:nth-child(2) > div:hover > svg {
  transform: rotate(-90deg);
}

.subnavItems > a {
  display: block;
}

.subnavItems > a:not(.subnavItems > a:last-child) {
  margin-bottom: 2rem;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0);
}

.hidden2 {
  transform: translateY(calc(-100% - 59px));
}

.visible2 {
  transform: translateY(0);
}

.active {
  color: var(--red);
}

.inActive {
  color: var(--black);
}
