.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.container > svg {
  cursor: pointer;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container > div > span:not(.ellipsis) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 450;
  line-height: 20.24px;
  text-align: left;
  border: 1px solid var(--grey);
  cursor: pointer;
}

.active {
  background: var(--black);
  color: var(--white);
}
