.container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  border-bottom: 1px solid var(--grey5);
  padding-bottom: 1.5rem;
}

.outerContainer {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  list-style: none;
}

.container > img {
  width: 150px;
  flex-basis: 150px;
  height: 150px;
  object-fit: cover;
}

.greyBackground {
  width: 150px;
  flex-basis: 150px;
  height: 150px;
  background-color: var(--grey);
}

.container > div:not(.greyBackground) {
  flex: 1;
}

.container > div > a:first-child {
  font-family: "Cairo";
  font-size: 15px;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.container > div > a:first-child:hover,
.container > div > p:nth-child(2) > a:hover {
  color: var(--red);
}

.container > div > p:nth-child(2) {
  font-family: "Cairo";
  font-size: 13.5px;
  color: var(--black2);
  font-weight: 400;
  margin-bottom: 0.15rem;
  transition: all 0.2s ease-in-out;
  font-style: italic;
}

.container > div > p:nth-child(2) > a {
  color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container > div > p:nth-child(3) {
  font-family: "Cairo";
  font-size: 15px;
  color: var(--black2);
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentsContainer {
  margin-top: 0.5rem;
}

.commentsContainer > div:first-child {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.commentsContainer > div:first-child > span {
  font-family: "Cairo";
  font-size: 15px;
  color: var(--black);
  font-weight: 400;
}

.noComment {
  margin-block: 1rem;
  text-align: center;
  font-family: "Cairo";
  font-size: 15px;
  color: var(--grey6);
  font-weight: 400;
}

.commentInteractionContainer {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.commentsContainer > div:first-child > svg {
  fill: var(--red);
}
